
body

{
  margin-top: 30px;
}

.navbar-default .navbar-brand {
  font-family: 'Tangerine', cursive;
  font-size: 80px;
  color: #3072FF;
  padding-top: 10px;
}
h1.title {

  padding: 20px 30px 50px 0;
}
h1 {
    background-color: lightblue;
}
h2 {
  font-size: 22px;
}
h2 {
    background-color: lightblue;
}
.rating {
  font-size: 0.4em;
  text-transform: uppercase;
  border: 1px solid #EEE;
  padding: 4px;
  vertical-align: middle;
}
.summary
h2, .actors h4 {
  margin-top: 0;
}
.review {
  margin-bottom: 30px;
}



form .btn-default {
  color: #33E1E5;
  background-color: black;
}
